
/* START: general overwriting  */
h1, h2, h3, h4, h5, h6, p, i, button, input {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* START: page formating */
body {
  width: 100vw;
  background-color: black;
}

main {
  border-radius: 5px;
  
  width: 60vw;
  margin: 5vh auto 5vh auto;
  padding: 10px;

  background-color: white;
}

/* phones */
@media (max-width: 767px) {
  main {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
}

/* START: titles and headers */
#logo {
  font-size: 7rem;
  font-family: 'Allison', cursive;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2.5rem;
}

.step-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 5vw;
}

.instructions {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: auto;
}


/* START: Step 1: Input */

#input-container {
  border-style: solid;
  border-width: 0 0 0 2px;
  border-radius: 5px;
  
  padding: 20px;
  margin: 10px 0 10px 15vw;
}

/* START: Step 2: Text sizing */

#font-size-container {
  border-style: solid;
  border-width: 0 0 0 2px;
  border-radius: 5px;
  
  padding: 5px 0px 5px 20px;
  margin: 10px 0 10px 15vw;
}
.row {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 17vw;
}

label {
  margin: 8px;
}

#font-size, #char-per-line, #line-height {
  margin: 5px 5px 5px auto;
  width: 50px;
}

/* START: Step 3: Characters to use */

#char-container {
  border-style: solid;
  border-width: 0 0 0 2px;
  border-radius: 5px;
  
  padding: 5px 0px 5px 20px;
  margin: 10px 0 10px 15vw;
}

#input-table {
  width: 30vw;
}

.pixel-canvas {
  width: 25px;
  height: 25px;
  background-color: rgb(0, 0, 0);
}

.char-input {
  width: 25px;
}

.lightness-input {
  width: 60px;
  margin: auto;
}

.pixel-canvas {
  margin-right: auto;
}

td {
  margin: auto;
}

#shortcuts {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#shortcuts button {
  margin: 0.5rem;
}

#shortcuts h3 {
  font-size: 1rem;
  margin-top: 0.7rem;
}

/* START: output */
.center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}